version: 2.1

executors:
  python-executor:
    docker:
      - image: cimg/python:3.14
    resource_class: small
    environment:
      TIME_LIMIT: 10m

jobs:
  run_unit_tests:
    executor: python-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Set PYTHONPATH
          command: echo 'export PYTHONPATH=$PYTHONPATH:/home/circleci/project' >> $BASH_ENV
      - run:
          name: Install Dependencies and Run Unit Tests
          no_output_timeout: 5m
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            pytest tests/tests_unit/ --maxfail=5 --disable-warnings -v
      - save_cache:
          paths:
            - ~/.cache/pip
            - venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}
  run_api_tests:
    executor: python-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Set PYTHONPATH
          command: echo 'export PYTHONPATH=$PYTHONPATH:/home/circleci/project' >> $BASH_ENV
      - run:
          name: Install Dependencies and Run Unit Tests
          no_output_timeout: 5m
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            pytest tests/tests_api/ --maxfail=5 --disable-warnings -v
      - save_cache:
          paths:
            - ~/.cache/pip
            - venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}

  create_env_and_run_bot:
    executor: python-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Set PYTHONPATH
          command: echo 'export PYTHONPATH=$PYTHONPATH:/home/circleci/project' >> $BASH_ENV
      - run:
          name: Create .env file
          command: |
            echo "TOKEN=${TOKEN}" > .env
            echo "ADMIN_ID=${ADMIN_ID}" >> .env
            echo ".env file content:"
            cat .env
          when: always
      - run:
          name: Setup Environment and Run Bot
          no_output_timeout: 5m
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            python bot.py
      - save_cache:
          paths:
            - ~/.cache/pip
            - venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}

  create_env_and_run_bot_with_db:
    executor: python-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: Set PYTHONPATH
          command: echo 'export PYTHONPATH=$PYTHONPATH:/home/circleci/project' >> $BASH_ENV
      - run:
          name: Create .env file
          command: |
            echo "TOKEN=${TOKEN}" > .env
            echo "ADMIN_ID=${ADMIN_ID}" >> .env
            echo "URL=${URL}" >> .env
            echo ".env file content:"
            cat .env
          when: always
      - run:
          name: Setup Environment and Run Bot with DB
          no_output_timeout: 5m
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            python main/bot_with_db.py
      - save_cache:
          paths:
            - ~/.cache/pip
            - venv
          key: v2-dependencies-{{ checksum "requirements.txt" }}

workflows:
  version: 2
  build_and_test:
    jobs:
      - run_unit_tests
      - run_api_tests:
          requires:
            - run_unit_tests
      - approve_bot_test:
          type: approval
          requires:
            - run_api_tests
      - create_env_and_run_bot:
          requires:
            - approve_bot_test
      # - approve_bot_db_test:
      #     type: approval
      #     requires:
      #       - run_unit_tests
      # - create_env_and_run_bot_with_db:
      #     requires:
      #       - approve_bot_db_test
      # - hold_for_approval:
      #     type: approval
      #     requires:
      #       - create_env_and_run_bot
      # #            - create_env_and_run_bot_with_db
      # - deploy:
      #     requires:
      #       - hold_for_approval
